.btn {
  display: flex;
  justify-content: center;
  font-family: $ff-montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  padding: 11px 0;
  border: none;
  background-color: $color-alice-blue;
  width: 100%;
  user-select: none;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.7;
  }
}
